fastapi
uvicorn[standard]
groq
openai
sqlalchemy[asyncio]
asyncpg
pgvector
python-dotenv
pydantic-settings
sentence-transformers
langgraph
langgraph-checkpoint-postgres
psycopg[binary]
psycopg[async]
